.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: var(--spacing-28) auto 0;
  padding: 0 var(--spacing-32);
  flex: 1;

  @media (min-width: 768px) {
    margin-top: var(--spacing-32);
  }
}
